body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(starrysky.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.contact-title
{
    margin-top: 100px;
    color: red;
    text-transform: uppercase;
}
.contact-title h1{
    font-size:  32px;
    line-height: 10px;

}
.contact-title h2{
    font-size:  16px;

}
form
{
    margin-top: 50px;
    
}

.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color:white;
    font-size: 18px;
    margin-bottom: 16px;
    
}

input{
    height:45px;

}

form .submit
{
    background: red;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

}

form .submit:hover
{
background-color: #000000;
cursor: pointer;

}

